header
    .grid
        .row
            .col.md-3-12
                    a(class="logo" href="javascript:void(0)")
            .col.md-6-12
                nav
                    a(class="item item--dropdown" href="javascript:void(0)") Categories
                    a(class="item" href="javascript:void(0)") Contacts
            .col.md-3-12.ta-right
                span(class="phone-number") +47 55 11 09 00
                

    include global_navigation