footer
    .grid
        .row
            .col.md-3-12
                span.copyright © 2018 Instant Norge AS
            .col.md-3-12
                ul.social-links
                    li
                        a(href="javascript:void(0)") Facebook
                    li
                        a(href="javascript:void(0)") Youtube
            .col.md-3-12
                a.upload(href="javascript:void(0)")
            .col.md-3-12.ta-right
                span.made-by Made visible by <img src="../assets/img/vsbl-logo.svg">
                
            

//- Scripts
script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(type="text/javascript" src="../assets/js/min/script.js") 
script(type="text/javascript" src="../assets/js/vendors/slick.min.js") 
