head
  //- Title
  title Varmepumper
  
  //- Meta
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  //- Stylesheets
  link(rel="stylesheet" href="../assets/css/style.css")
  link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Cairo:300,400,600,700', type='text/css')
  link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=latin-ext', type='text/css')
