.nav
    .grid
        .row
            .col.md-9-12.navigation-items
                ul
                    li.md-4-12
                        a.navigation-items--item(href="javascript:void(0)")
                            span.title Toppmodell
                            p.text Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
                    li.md-4-12
                        a.navigation-items--item(href="javascript:void(0)")
                            span.title Toppmodell
                            p.text Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
                    li.md-4-12
                        a.navigation-items--item(href="javascript:void(0)")
                            span.title Toppmodell
                            p.text Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
                    li.md-4-12
                        a.navigation-items--item(href="javascript:void(0)")
                            span.title Toppmodell
                            p.text Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
                    li.md-4-12
                        a.navigation-items--item(href="javascript:void(0)")
                            span.title Toppmodell
                            p.text Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
                    li.md-4-12
                        a.navigation-items--item(href="javascript:void(0)")
                            span.title Toppmodell
                            p.text Dvd Replication For Dummies 4 Easy Steps To Professional Dvd Replication
                
            .col.md-3-12.nav--image
                img(src="../assets/img/menu-img.jpg", alt="")