include ../includes/global/mixin

.grid
    .row
        .col.md-6-12.category-list
            .category-info
                h2.headline Bestselger
                p Computer Hardware Desktops And Notebooks And Handhelds Oh My
        
        +product-item('col md-3-12', 'Toppmodell', 'Choosing The Best Audio Player Software For Your Computer')
        +product-item('col md-3-12', 'Toppmodell', 'Choosing The Best Audio Player Software For Your Computer')
        +product-item('col md-3-12', 'Toppmodell', 'Choosing The Best Audio Player Software For Your Computer')
        +product-item('col md-3-12', 'Toppmodell', 'A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More')
        +product-item('col md-6-12', 'Toppmodell', 'Choosing The Best Audio Player Software For Your Computer')

        +product-item('col md-3-12', 'Toppmodell', 'A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More')
        +product-item('col md-3-12', 'Toppmodell', 'Choosing The Best Audio Player Software For Your Computer')
        +product-item('col md-3-12', 'Toppmodell', 'A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More')
        +product-item('col md-3-12', 'Toppmodell', 'A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More')

        