include ../includes/global/mixin

.category-item-view
    .grid
        .row
            .col.md-3-12
                a.go-back(href="javascript:void(0)") Back to Bestselger
            
            .col.md-6-12
                h1.category-item-view.headline Zen Designmodell Sort
                p.category-item-view--disclaimer ZEN combines elegance, design and the latest in technology - fits perfectly into your home and is designed for Nordic conditions.

            .col-md-3-12.ta-right
                a.btn.btn--primary(href="javascript:void(0)") Make order
            
            .col.md-12-12
                .md-10-12.fl-center.gallery-wrap
                    .gallery
                        img(src="../assets/img/products/slide1.jpg", alt="Slide 1")
                        img(src="../assets/img/products/slide2.jpg", alt="")
                        img(src="../assets/img/products/slide1.jpg", alt="")
                        img(src="../assets/img/products/slide2.jpg", alt="")
                        img(src="../assets/img/products/slide1.jpg", alt="")
                    .gallery-nav
                        img(src="../assets/img/products/slide1-thumb.jpg", alt="Slide 1")
                        img(src="../assets/img/products/slide2-thumb.jpg", alt="")
                        img(src="../assets/img/products/slide1-thumb.jpg", alt="")
                        img(src="../assets/img/products/slide2-thumb.jpg", alt="")
                        img(src="../assets/img/products/slide1-thumb.jpg", alt="")
            
            .col.md-3-12
                ul.specifications
                    li Nominell kapasitet: 4,0 kW
                    li SCOP: 4,5
                    li Lydnivå: 21dB(A)
                    li Fabrikkgarantert drift ned til: -20 grader
                    li Uketimer på fjernkontroll
            .col.md-6-12
                .accordion.more
                    h3 Mer informasjon
                        span.collapse
                    div
                        p Den leveres med supertynn innedel på kun 19,5cm – den er så tynn også når varmepumpen er i drift. Likevel har ZEN fabrikkgarantert driftsområde helt ned til -20°C og en COP på 4,19
                        p Lydnivået på ZEN er på 21 dB(A) – noe som gjør at den knapt er hørbar i laveste viftemodus. ZEN har egen Fan Mode – der kun viften går. Dette gjør den perfekt til å bruke sammen med peis eller ovn.
            
            .col.md-12-12.specification-wrap
                .md-6-12.fl-center
                     .accordion.spec
                        h3 Spesifikasjoner
                            span.collapse
                        div
                            .specification-data
                                span.title Hoved data
                                ul
                                    li
                                        span.name 
                                            p.text Laveste lydnivå
                                        span.data 21 db (A)
                                    li
                                        span.name 
                                            p.text Maks kapasitet ved +7 grader
                                        span.data 5,5 kW

                            .specification-data
                                span.title Modell data: ZEN 5,5 HVIT
                                ul
                                    li
                                        span.name 
                                            p.text Funksjon
                                        span.data Kjøling
                                        span.data Varme
                                    li
                                        span.name 
                                            p.text Kapasitet (min-maks)kW
                                        span.data 1,4-4,0
                                        span.data 1,8-5,5

                            .specification-data
                                span.title Utstyr
                                ul
                                    li
                                        span.name 
                                            p.text Supertynn innedel
                                        span.data 
                                            i.checked
                                    li
                                        span.name 
                                            p.text Nano platina filte
                                        span.data 
                                            i.checked
                            
