section.contact-us
    .grid
        .row
            .col.md-12-12
                .left-part.fl-left
                    span.heading Hvad kan man spare med en varmepumpe?
                    p.text En varmepumpe kan spare dig for 50% til 70% på din varmeregning, og hvis du anvender el til opvarmning i hjemmet, så kan du spare helt op til 80%. Dette afhænger af hvilken type varmepumpe du vælger. Uanset hvilken varmepumpe du vælger at købe hos Scanheat, så sikrer vi dig, at du får en varmepumpe i høj kvalitet. 
                
                a.btn.btn--primary(href="javascript:void(0)") Contact us