include ../includes/global/mixin

.homepage-items
    .grid
        .row
            +product-item-category('col xs-4-12', 'Toppmodell')
            +product-item-category('col xs-4-12', 'Toppmodell')
            +product-item-category('col xs-4-12', 'Toppmodell')