section.homepage-hero
    .grid
        .row
            .col.xs-12-12
                span(class="hero-title") Produce heat for your house, no matter how cold it is
                .wrap-block
                    a.btn.btn--primary(href="javascript:vpod(0)") view all models
