include ../includes/global/mixin

.grid
    .row
        .col.md-12-12.smilar-products      
            h2.headline Similar products

            +product-item('col md-3-12', 'Toppmodell', 'A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More')
            +product-item('col md-3-12', 'Toppmodell', 'Choosing The Best Audio Player Software For Your Computer')
            +product-item('col md-3-12', 'Toppmodell', 'A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More')
            +product-item('col md-3-12', 'Toppmodell', 'A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More')

        a.btn.btn--secondary.look-all(href="javascript:void(0)") Look all 
        