doctype html
html(lang="lt")
	//- HEAD
	include includes/global/global_head
	//- BODY
	body

		//- Page container
		#page-container

			//- Header
			include includes/global/global_header
			include structure/homepage-hero

			main
				include structure/homepage-items

			include structure/contact-us
			include includes/global/global_footer
